.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #518FBC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  transition: .3s;
}

.app__light {
  background-color: rgb(42, 70, 179);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-name {
  color: #336182;
  -webkit-box-reflect: below 1px linear-gradient(transparent, white);
  outline: none;
  animation: animate 5s infinite;
  margin: 50px;
}

@keyframes animate {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #336182;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: white;
    text-shadow: 0 0 10px #518FBC,
      0 0 20px #518FBC,
      0 0 40px #518FBC,
      0 0 80px #518FBC,
      0 0 100px #518FBC,
  }
}

.app-name__light {
  color: black
}

.widget-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 24px;
  flex-wrap: wrap;
  margin: 25px 25px;
  width: 80vw;
}

.widget {
  min-width: 145px;
  max-width: 145px;
  row-gap: 12px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc((100% - (100px * 2) - (100px * 2)) / 4);
  padding: 6px 6px 30px;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
  margin: 35px;


  @media (max-width: 1030px) {
    width: 20%;
  }
}

.widget:last-child {
  animation: widget-animate 5s infinite;
}

@keyframes widget-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.widget__light {
  background-color: black;
}


.button-close {
  align-self: flex-end;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

.city-name {
  font-weight: 700;

  @media (max-width: 103ßpx) {
    font-size: 18px;
  }
}

.input-form {
  width: 200px;
  height: 15px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #999;
  font-size: 16px;
  font-family: Tahoma;
}

.search-button {
  font-size: 16px;
  font-family: Tahoma;
}

.switch-button {
  position: absolute;
  right: 40px;
  font-size: 16px;
  font-family: Tahoma;
  top: 40px;
}